

<section class="my-10">

  @if ( step == 1) {

    <form  [formGroup]="verifyEmail" (ngSubmit)="verifyEmailsubmet()"  >
      <div class="bg-gray-100 p-5 w-[60%] mx-auto">
        <h1 class="btn-main1 text-center pb-4">Forgot Password</h1>
        <label for="email">email</label>
        <input formControlName="email"  type="email" id="email" class="form-control m-1">
        <button type="submit" [disabled]="verifyEmail.invalid" class="btn-main p-2 m-3 ">verifyEmail
          @if (isLodaing) {
            <span> <i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
      </div>
        </form>

  }



@else if ( step == 2) {

  <form  [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmet()" >
    <div class="bg-gray-100 p-10 w-[60%] mx-auto">
      <h1 class="btn-main1 text-center pb-5">Forgot Password</h1>
      <label for="resetCode">resetCode</label>
      <input formControlName="resetCode"  type="text" id="resetCode" class="form-control m-1">
      <button  type="submit" [disabled]="verifyCode.invalid" class="btn-main p-2 m-3 ">verifyCode
        @if (isLodaing) {
          <span> <i class="fas fa-spin fa-spinner"></i></span>
          }
      </button>
    </div>
      </form>

}


@else if( step == 3) {

  <form  [formGroup]="verifyPassword"(ngSubmit)="verifyPasswordsubmet()" >
    <div class="bg-gray-100 p-10 w-[60%] mx-auto">

      <h1 class="btn-main1 text-center pb-5">Forgot Password</h1>
      <label for="email">email</label>
      <input formControlName="email"  type="email" id="email" class="form-control m-1">

      <label for="newPassword">newPassword</label>
      <input formControlName="newPassword"  type="password" id="newPassword" class="form-control m-1">


      <button  type="submit" [disabled]="verifyPassword.invalid" class="btn-main p-2 m-3 ">verifyPassword
        @if (isLodaing) {
          <span> <i class="fas fa-spin fa-spinner"></i></span>
          }
      </button>
    </div>
      </form>
}




</section>
