<!-- <section class=" ms-auto ">

<div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-3 ">
@for (item of items; track $index) {}
</div>
</section> -->

<section >
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 px-2">
    @for (brand of ViewBrand; track brand._id) {
    <div class="text-center bg-white shadow border border-gray-200 rounded-lg cursor-pointer "  >
      <img [src]="brand.image" class="w-full h-[350px] object-contain" [alt]="brand.name" />
      <h3 class="text-slate-600 pb-3">{{brand.name}}</h3>
    </div>
    }



  </div>
</section>
